body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ececec;
}

.book-stall {
  text-align: center;
  background-color: #5A3D3D;
  color: white;
  padding: 20px;
}

header h2 {
  background-color: #B28F4E;
  padding: 20px 10px;
  margin: 0;
}

.book-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background-color: #545441;
}

.book-card {
  width: calc(33.33% - 40px); /* 3 cards per row with gap adjustment */
  max-width: 300px; /* Prevents excessive growth */
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
}

.book-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

button {
  background-color: #B28F4E;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #8C6D38;
}
